In [1]:
import pandas as pd

In [2]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)
print(df)

       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

리스트로 생성

In [3]:
data = [
    ['1000', 'Steve', 90.72], 
    ['1001', 'James', 78.09], 
    ['1002', 'Doyeon', 98.43], 
    ['1003', 'Jane', 64.19], 
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]
print(pd.DataFrame(data))

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [4]:
df = pd.DataFrame(data, columns=['학번', '이름','점수'])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

딕셔너리로 생성

In [5]:
data = {
    '학번': ['1000', '1001', '1002', '1003', '1004', '1005'],
    '이름': ['Steve', 'James', 'Doyeon', 'Jane', 'Pilswoong', 'Tony'] ,
    '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
}

df = pd.DataFrame(data)
print(df)

     학번         이름     점수
0  1000      Steve  90.72
1  1001      James  78.09
2  1002     Doyeon  98.43
3  1003       Jane  64.19
4  1004  Pilswoong  81.30
5  1005       Tony  99.14

데이터 프레임 조회

In [6]:
print(df.head(3)) # 앞부분 3개만 보기

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [7]:
print(df.tail(3)) # 뒷 부분 3개만 보기

     학번         이름     점수
3  1003       Jane  64.19
4  1004  Pilswoong  81.30
5  1005       Tony  99.14

In [8]:
print(df['학번']) # '학번'에 해당되는 열을 보기

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object